*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100%;
    font-family: 'Arial';
} 
a{
    text-decoration: none;
    &:hover{
        cursor: pointer;
    }
}
button{
    transition: 0.3s linear;
    &:hover{
        background-color: white;
        color: #2B2B51;
        cursor: pointer;
    }
}
.d-sm{
    display: none;
}
.container{
    padding: 0 10%;
    &-fluid{
        width: 100vw;
    }
}
.grid{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    top:0;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
    position: absolute;
    padding: 0 10%;
    &-adaptive{
        display: none;
    }
    &__block{
        &-white{
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            background-color: rgba(255, 255, 255, 0.1);
        }
        &-black{
            border-right: 1px solid rgba(38, 38, 38, 0.2);
            background-color: rgba(38, 38, 38, 0.2);
        }
        &-transparent{
            background-color: transparent;
        }
    }
    &-vertical__block{
        width: 100vw;
        height: 195px;
        position: absolute;
        top: 0;
        right: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
}
.main-screen{
    margin-top: 143px;
    background: #2B2B51;
    position: relative;
    z-index: 1;
    // height: 100vh;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__header{
        padding: 16px 3%;
        box-sizing: border-box;
        // position: absolute;
        width: 100vw;
        left: 0;
        top: 0;
    }
    &::after{
        content: '';
        width: 90px;
        height: 90px;
        position: absolute;
        border: 20px solid #FFFFFF;
        box-sizing: border-box;
        filter: blur(2px);
        transform: rotate(-45deg);
        box-shadow: 0 0 20px rgb(0 0 0 / 20%);
        right: 120px;
        bottom: -60px;
    }
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 2;
    position: fixed;
    background: #2B2B51;
    &__info{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-menu{
        margin-left: 33px;
    }
    &__button{
        margin-left: 14px;
    }
    &__number{
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 21px;
        transition: 0.2s linear;
        &>a{
            color: white;
            transition: 0.2s linear;
            &:hover{
                color: rgb(223, 223, 223);
            }
        }
       
    }
    &__menu{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
        color: white;
        &-active{
            transform: rotate(-90deg);
        }
        
    }
    &-top{
        background: #2B2B51;
        box-shadow: 0 0px 29px rgb(255 255 255 / 20%);
    }
    
}
.logo{
    display: flex;
    align-items: center;
    & img{
        background-size: cover;
    }
    &-image{
        width: 128px;
        // width: 110px;
        margin-right: 30px;
        position: relative;
        z-index: 2;
        transition: linear 0.5s;
        &__scroll{
            margin-right: 20px;
            width: 90px;
        }
    }
    &-name{
        font-style: normal;
        font-weight: 900;
        font-size: 22px;
        text-transform: uppercase;
        position: relative;
        color: white;
        &__scroll{
            font-size: 16px;
        }
    }
}
.button{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    padding-top: 9px;
    width: 173px;
    height: 40px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    color: white;
    transition: 0.3s linear;
    &>a{
        color: white;
    }
    &:hover{
        background-color: white;
        color: #2B2B51;
        cursor: pointer;
        &>a{
            color: #2B2B51;  
        }
    }
}
.menu{
    display: flex;
    align-items: center;
    justify-content: start;
    transition: all 1s ease 0s;
    transform-origin: 100% 0;
    z-index: 3;
    margin-right: 40px;
    // animation: close_menu 5s;
    &:hover{
        cursor: pointer;
        .header__menu{
            color: rgb(226, 226, 226);
        }
        .menu__span{
            background:rgb(226, 226, 226);
        }
    }
    &__span{
        width: 20.67px;
        height: 2px;
        position: relative;
        background: white;
        left: 5px;
        &:after{
            content: '';
            width: 31px;
            height: 0px;
            border: 1px solid #FFFFFF;
            background: white;
            position: absolute;
            top: 8px;
            left: 0px;
        }
        &:before{
            content: '';
            width: 10.33px;
            height: 0px;
            border: 1px solid #FFFFFF;
            background: white;
            position: absolute;
            bottom: 8px;
            left: 0px;
        }
    }
    
}
@keyframes open_menu{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.menu-active{
   position: relative;
   &__wrapper{
       position: absolute;
       top: 100px;
       right: 2vw;
       display: flex;
       align-items: center;
       transform: rotate(-90deg);
       animation: show_active_menu 5s;
       &:hover{
           cursor: pointer;
       }
   }
    &__content{
        // display: none;
        background: rgba(16, 16, 39, 0.9);
        opacity: 1;
        box-shadow: 0px 4px 8px rgba(43, 43, 81, 0.07);
        // backdrop-filter: blur(11px);
        backdrop-filter: saturate(180%) blur(20px);
        height: 100vh;
        width: 50%;
        position: fixed;
        left: 50%;
        z-index: 3;
        text-align: center;
        padding: 16vh 0 10vh;
        box-sizing: border-box;
    }
}
@keyframes show_active_menu{
    0%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.active-content{
    display: none;
    transition: all 1s ease 0s;
    animation: show_menu_contant 1s ;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__points{
        // height: 65%;
        height: 50%;
        min-width: 226px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__number-button-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__number{
        margin-bottom: 50px;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 21px;
        color: white;
        &>a{
            transition: 0.3s linear;
            color: white;
            &:hover{
                color: rgb(223, 223, 223);
                
            }
        }
    }
}
@keyframes show_menu_contant {
    0%{
        transform: translateX(500px);
    }
    50%{
        transform: translateX(0px);
    }
}
.points{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    position: relative;
    display: flex;
    justify-content: space-between;
    &:hover{
        cursor: pointer;
        &:before{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color:  #FFFFFF;
        bottom: -8px;
     
        }
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        width: 0%;
        height: 1px;
        background-color: #FFFFFF;
        bottom: -8px;
        transition: 0.2s;
    }
}


.block-header{
    font-family: Arial;
    font-style: normal;
    font-weight: 900;
    font-size: 62px;
    line-height: 87px;
    margin-left: 4px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #FFFFFF;
    position: relative;
    display: inline-block;
    &:after{
        content: '';
        position: absolute;
        background-image: url(../img/about/crosses_for_header.png);
        background-size: cover;
        z-index: 2;
        width: 110px;
        height: 62px;
        top: -22px;
        right: -65px;

    }
}


.body{
    &__header{
        background: white;
        z-index: 0;
    }
    &__bread{
        margin-top: 65px;
        margin-left: 4px;
        color: #6E6E8B;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        &-main{
            &>a{
                color: #2B2B51;
            }
        }
    }
    &__name{
        text-transform: uppercase;
        -webkit-text-stroke: 2px #2B2B51;
        margin-bottom: 62px;
        font-size: 60px;
        &:after{
            top: -18px;
            right: -61px;
        }
    }
}

/* Об услуге */
.about{
    position: relative;
    z-index: 1;
    background: #2B2B51;
    &:after{
        content: '';
        width: 62.35px;
        height: 62.35px;
        position: absolute;
        border: 15px solid #FFFFFF;
        box-sizing: border-box;
        filter: blur(3px);
        transform: rotate(-45deg);
        bottom: 43px;
        left: -30px;
        box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    }
    &__name{
        position: relative;
        margin-top: 102px;
    }
    
    &__content{
        display: flex;
        flex-direction: row;
    }
    &__description{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 50%;
        height: 662px;
    }
    &__purpose{
        line-height: 22px;
        margin-right: 60px;
        margin-left: 4px;
        color: white; 
        &>p{
        margin-top: 20px;
        font-style: normal;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.3px;
    }
    }
    &__sliders{
        display: flex;
        justify-content: flex-end;
        
    }
}
.sliders{
    &__number{
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 17px;
        text-transform: lowercase;
        color: rgba(255, 255, 255, 0.4);
        display: flex;
        justify-content: flex-end;
        top: 55px;
        margin-top: 101px;
        margin-right: 20px;
    }
    &__wrapper{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .slider-about{
        width: 483.8px;
        margin-top: 36px;
        margin-right: 20px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 375px;
            height: 321px;
            background: rgba(232, 232, 232, 0.13);
            z-index: 1;
            bottom: 23px;
            left: 18px;
        }
        &:after{
            content: '';
            width: 62.35px;
            height: 62.35px;
            position: absolute;
            border: 15px solid #FFFFFF;
            box-sizing: border-box;
            filter: blur(2px);
            transform: rotate(-45deg);
            bottom: -31px;
            left: -31px;
            box-shadow: 0 0 20px rgb(0 0 0 / 20%);
            z-index: 2;
        }
        
    }
    &__img{
        position: relative;
        z-index: 1;
        
    }
}
// Плюсы первозки
.plus{
    padding-top: 101px;
    padding-bottom: 111px;
    position: relative;
    &>.container{
        text-align: center;
    }
    &__name{
        text-align: left;
        font-size: 34px;
        line-height: 66px;
        text-transform: uppercase;
        -webkit-text-stroke: 2px #2B2B51;
    }
    &-body{
        margin-top: 187px;
        text-align: center;
        position: relative;
        display: inline-block;
        &__description{
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0.3px;
            color:#2B2B51;
        }
    }
    .cost_savings{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 112px;
            height: 66px;
            background: url(../img/index-cargo/cost_savings.png);
            background-size: cover;
            bottom: -84px;
            right: 13px;
            transform: translateZ(-1px);
        }
        &__wrapper{
            position: absolute;
            top: -36px;
            left: -210px;
            padding: 18px;
            box-shadow: 0px 4px 20px rgba(43, 43, 81, 0.15);
            background-color: white;
            transform-style: preserve-3d;
            text-align: left;
        }
    }
    .small_parties{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 60px;
            height: 147px;
            background: url(../img/index-cargo/small_parties.png);
            background-size: cover;
            bottom: -160px;
            right: 110px;
            transform: translateZ(-1px);
        }
        &__wrapper{
            position: absolute;
            top: -134px;
            left: 112px;
            padding: 18px;
            box-shadow: 0px 4px 20px rgba(43, 43, 81, 0.15);
            background-color: white;
            transform-style: preserve-3d;
            text-align: left;
        }
    }
    .organization{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 155px;
            height: 68px;
            background: url(../img/index-cargo/organization.png);
            background-size: cover;
            bottom: -81px;
            left: -165px;
            transform: translateZ(-1px);
        }
        &__wrapper{
            position: absolute;
            bottom: 247px;
            right: -291px;      
            padding: 18px;
            box-shadow: 0px 4px 20px rgba(43, 43, 81, 0.15);
            background-color: white;
            transform-style: preserve-3d;
            text-align: left;
        }
    }
    .min_delivery{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 70px;
            height: 104px;
            background: url(../img/index-cargo/min_delivery.png);
            background-size: cover;
            top: -99px;
            left: -71px;
            transform: translateZ(-1px);
            
        }
        &__wrapper{
            position: absolute;
            bottom: -61px;
            right: -307px;               
            padding: 18px;
            box-shadow: 0px 4px 20px rgba(43, 43, 81, 0.15);
            background-color: white;
            transform-style: preserve-3d;
            text-align: left;
        }
    }
    .fixed_cost{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            width: 103px;
            height: 89px;
            background: url(../img/index-cargo/fixed_cost.png);
            background-size: cover;
            top: -99px;
            right: -12px;
            transform: translateZ(-1px);
        }
        &__wrapper{
            position: absolute;
            bottom: -48px;
            left: -163px;            
            padding: 18px;
            box-shadow: 0px 4px 20px rgba(43, 43, 81, 0.15);
            background-color: white;
            transform-style: preserve-3d;
            text-align: left;
        }
    }
}

// Этапы работы
.stages{
    position: relative;
    padding-top: 40px;
    padding-bottom: 86px;
    &__name{
        -webkit-text-stroke: 2px rgb(43, 43, 81);
        font-size: 31px;
        line-height: 50px;
        margin-bottom: 68px;
    }
    .block-header{
        &:after{
            top: 19px;
        }
    }
    &__description{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-card{
        position: relative;
        width: 30vw;
        height: 98px;
        display: flex;
        align-items: center;
        
        margin-bottom: 47px;
        background-color: white;
        box-shadow: 0px 4px 20px rgba(43, 43, 81, 0.15);
        &__number{
            // position: absolute;
            font-weight: 900;
            font-size: 60px;
            text-transform: uppercase;
            color: transparent;
            -webkit-text-stroke: 2px white;
            background-color: #2B2B51;
            padding: 0px 25px;
            line-height: 97px;
            margin-bottom: 50px;
            margin-left: -55px;
        }
        &__description{
            font-weight: bold;
            font-size: 22px;
            color: #2B2B51;
            padding: 0 25px;
        }
        .number-right{
            margin-right: -55px;
            left: auto;
        }
        .description-right{
            padding-right: 89px;
        }
    }
    &-card:nth-child(odd){  
        margin-left: 57px;
        position: relative;
        justify-content: flex-start;
        // padding-right: 31px;
        &:after{
            content: '';
            position: absolute;
            width: 35px;
            height: 35px;
            border: 10px solid #2B2B51;
            transform: rotate(45.63deg);
            box-sizing: border-box;
            top: -17px;
            right: -18px;
        }
    }
    &-card:nth-child(even){  
        margin-right: 57px;
        position: relative;
        flex-direction: row-reverse;
        &:after{
            content: '';
            position: absolute;
            width: 35px;
            height: 35px;
            border: 10px solid #2B2B51;
            transform: rotate(45.63deg);
            box-sizing: border-box;
            bottom: -17px;
            left: -18px;
        }
        
    }
}
