@media (min-width: 421px) and (max-width: 769px) {
  .grid {
    display: none;
  }
  .grid-adaptive {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 0;
    position: absolute;
    padding: 0 7%;
  }
  .container {
    padding: 0 7%;
  }
  .logo {
    width: 501px;
  }
  .logo-image {
    width: 113px;
  }
  .logo-name {
    font-size: 18px;
  }
  .header__number {
    display: none;
  }
  .header__menu {
    font-size: 18px;
  }
  .header__button {
    display: none;
  }
  .button {
    font-size: 18px;
  }
  .main-screen:after {
    background-position: 40% center;
  }
  .main-screen .block-header:after {
    top: 4px;
    right: -42px;
  }
  .main-br {
    display: none;
  }
  .main-body__description {
    font-size: 29px;
  }
  .main-scroll__wrapper {
    transform: translateX(-153%);
  }
  .advantage__name-wsize {
    width: 238px;
  }
  .advantage__name-size {
    width: 136px;
  }
  /* меню навигации  */
  .active-content__points {
    height: 30%;
    margin-top: 10%;
  }
  .body__name {
    font-size: 31px;
  }
  /* О компании */
  .about {
    padding: 60px 0px 94px;
  }
  .about:before {
    border: 13px solid #FFFFFF;
    filter: blur(3px);
    top: 653px;
  }
  .about .block-header:after {
    top: -2px;
    right: -40px;
  }
  .about:after {
    width: 70px;
    height: 70px;
    border: 14px solid #FFFFFF;
    bottom: -13px;
    left: 651px;
  }
  .about:before {
    right: -18.3px;
    width: 48px;
    height: 48px;
  }
  .about__content {
    flex-direction: column;
  }
  .about__description {
    width: 100%;
    height: auto;
  }
  .about__purpose {
    margin-right: 0px;
    line-height: 1.4em;
  }
  .about__purpose > p {
    font-size: 20px;
  }
  .about .img-caption {
    top: 58%;
    font-size: 12px;
    font-weight: 700;
  }
  .about__sliders {
    width: 70%;
    height: 340px;
  }
  .about .sliders__wrapper {
    width: 100%;
    align-items: center;
  }
  .about .sliders__number {
    font-size: 15px;
    margin-top: 57px;
    align-self: flex-end;
    margin-right: 100px;
  }
  .about .sliders__img {
    width: 100%;
    height: 307px;
  }
  .about .sliders .slider-about {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-top: 73px;
  }
  .about .sliders .slider-about__item {
    height: auto;
    margin-right: 12px;
    margin-top: 0px;
    width: 100%;
  }
  .about .sliders .slider-about__item img {
    max-height: 309px;
    width: 100%;
  }
  .about .sliders .slider-about__item:before {
    top: -10px;
    right: -10px;
    left: unset;
  }
  .about .sliders .slider-about:before {
    width: 100%;
    height: 307px;
    bottom: -24px;
    left: 14px;
  }
  .about .sliders .slider-about:after {
    display: none;
  }
  .about .sliders .slick-arrow {
    bottom: -54px;
  }
  .about .sliders-button {
    margin-right: 10px;
  }
  .event {
    margin-top: 109px;
  }
  .event__name {
    margin-left: 4px;
    font-size: 30px;
    line-height: 1.4em;
  }
  .event__description {
    line-height: 1.3em;
    margin-top: 20px;
    margin-top: 15px;
    margin-left: 4px;
  }
  .event__footer {
    margin-left: 4px;
  }
  .block-header {
    margin-top: 0px;
  }
  .block-header:after {
    width: 67px;
    height: 36px;
  }
  .enterns-card {
    width: 100%;
  }
  .enterns__name {
    font-size: 43px;
    line-height: 1.3em;
  }
  .enterns .block-header:after {
    right: -40px;
  }
  /* Другие услуги компании */
  .services__name {
    margin-top: 63px;
    line-height: 1.3em;
  }
  .services .block-header::after {
    right: -43px;
  }
  /* Индивидуальная консультация */
  .consultation {
    background-color: #2B2B51;
    padding: 60px 0 10px;
  }
  .consultation__name {
    -webkit-text-stroke: 2px white;
    line-height: 1.3em;
  }
  .consultation-br {
    display: none;
  }
  .consultation .block-header:after {
    right: -42px;
  }
  .consultation-form {
    background-color: transparent;
    margin: 0;
    padding: 42px 4px 57px 4px;
    box-shadow: none;
  }
  .consultation-form:before {
    display: none;
  }
  .consultation-form__description {
    font-size: 19px;
  }
  .consultation-form__description span:after {
    display: none;
  }
  .consultation .form-tamojnya {
    flex-direction: column;
  }
  .consultation .form-tamojnya__whats {
    margin-left: 0px;
    margin-top: 36px;
  }
  .consultation .form__name,
  .consultation .form__phone,
  .consultation .form__email,
  .consultation .form__button,
  .consultation .form__whats {
    width: 307px;
  }
  .consultation .form__whats:after {
    display: none;
  }
  /* Подвал */
  .footer-logo__name {
    width: 217px;
    font-size: 15px;
  }
}
