@media screen and (max-width: 768px) {
  .grid {
    display: none;
  }
  .grid-adaptive {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    box-sizing: border-box;
    z-index: -1;
    position: absolute;
    padding: 0 7%;
  }
  .container {
    padding: 0 7%;
  }
  .logo {
    width: 501px;
  }
  .logo-image {
    width: 113px;
  }
  .logo-name {
    font-size: 18px;
  }
  .header__number {
    display: none;
  }
  .header__menu {
    font-size: 18px;
  }
  .header__button {
    display: none;
  }
  .button {
    font-size: 18px;
  }
  .main-screen {
    margin-top: 133px;
  }
  .main-screen:after {
    background-position: 40% center;
  }
  .main-br {
    display: none;
  }
  .main-body__description {
    font-size: 29px;
  }
  .main-scroll__wrapper {
    transform: translateX(-153%);
  }
  .advantage__name-wsize {
    width: 238px;
  }
  .advantage__name-size {
    width: 136px;
  }
  /* меню навигации  */
  .active-content__points {
    height: 30%;
    margin-top: 10%;
  }
  /* О компании */
  .about {
    padding: 60px 0px 94px;
  }
  .about:before {
    border: 13px solid #FFFFFF;
    filter: blur(3px);
    top: 653px;
  }
  .about .block-header > span:after {
    top: -10px;
    right: -40px;
  }
  .about:after {
    width: 70px;
    height: 70px;
    border: 14px solid #FFFFFF;
    bottom: -13px;
    left: 651px;
  }
  .about:before {
    right: -18.3px;
    width: 48px;
    height: 48px;
  }
  .about__content {
    flex-direction: column;
  }
  .about__description {
    width: 100%;
    height: auto;
  }
  .about__purpose {
    margin-right: 0px;
    line-height: 18px;
  }
  .about__purpose > p {
    font-size: 16px;
  }
  .about .img-caption {
    top: 58%;
    font-size: 12px;
    font-weight: 700;
  }
  .about__sliders {
    width: 70%;
    height: 340px;
  }
  .about .sliders__wrapper {
    width: 100%;
    align-items: center;
  }
  .about .sliders__number {
    font-size: 15px;
    margin-top: 57px;
    align-self: flex-end;
    margin-right: 100px;
  }
  .about .sliders__img {
    width: 100%;
    height: 307px;
  }
  .about .sliders .slider-about {
    width: 100%;
    height: auto;
    margin-right: 0px;
    margin-top: 73px;
  }
  .about .sliders .slider-about__item {
    height: auto;
    margin-right: 12px;
    margin-top: 28px;
    width: 100%;
  }
  .about .sliders .slider-about__item img {
    height: 100%;
    width: 100%;
  }
  .about .sliders .slider-about__item:before {
    top: -10px;
    right: -10px;
    left: unset;
  }
  .about .sliders .slider-about:before {
    width: 100%;
    height: 307px;
    bottom: -24px;
    left: 14px;
  }
  .about .sliders .slider-about:after {
    display: none;
  }
  .about .sliders .slick-arrow {
    bottom: -54px;
  }
  .about .sliders-button {
    margin-right: 10px;
  }
  .block-header {
    margin-top: 0px;
    line-height: 62px;
  }
  .block-header:after {
    display: none;
  }
  .block-header > span {
    position: relative;
  }
  .block-header > span:after {
    content: '';
    position: absolute;
    background-image: url(../../img/about/crosses_for_header.png);
    background-size: cover;
    z-index: 2;
    width: 67px;
    height: 36px;
    top: -9px;
    right: -44px;
  }
  /* Плюсы перевозки */
  .plus__name {
    font-size: 38px;
    line-height: 54px;
  }
  .plus .block-header:after {
    display: block;
    top: -13px;
    right: 91px;
    width: 67px;
    height: 36px;
  }
  .plus-body {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
  }
  .plus-body > img {
    display: none;
  }
  .plus-adaptive {
    display: none;
  }
  .plus .cost_savings__wrapper,
  .plus .small_parties__wrapper,
  .plus .organization__wrapper,
  .plus .min_delivery__wrapper,
  .plus .fixed_cost__wrapper {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    text-align: center;
    margin-bottom: 46px;
    padding: 26px 18px;
    width: 99%;
    margin-left: 3px;
  }
  .plus .cost_savings__wrapper:before {
    content: '';
    position: absolute;
    background: url(../../img/index-cargo/1.png);
    background-size: cover;
    width: 65px;
    height: 65px;
    top: -23px;
    left: -20px;
  }
  .plus .small_parties__wrapper:before {
    content: '';
    position: absolute;
    background: url(../../img/index-cargo/2.png);
    background-size: cover;
    width: 65px;
    height: 65px;
    top: -23px;
    left: -20px;
  }
  .plus .organization__wrapper:before {
    content: '';
    position: absolute;
    background: url(../../img/index-cargo/3.png);
    background-size: cover;
    width: 65px;
    height: 65px;
    top: -23px;
    left: -20px;
  }
  .plus .min_delivery__wrapper:before {
    content: '';
    position: absolute;
    background: url(../../img/index-cargo/4.png);
    background-size: cover;
    width: 65px;
    height: 65px;
    top: -23px;
    left: -20px;
  }
  .plus .fixed_cost__wrapper:before {
    content: '';
    position: absolute;
    background: url(../../img/index-cargo/5.png);
    background-size: cover;
    width: 65px;
    height: 65px;
    top: -23px;
    left: -20px;
  }
  .plus .cost_savings:after,
  .plus .small_parties:after,
  .plus .organization:after,
  .plus .min_delivery:after,
  .plus .fixed_cost:after {
    display: none;
  }
  .stages .block-header {
    font-size: 31px;
    line-height: 43px;
  }
  .stages .block-header:after {
    display: block;
    top: -18px;
    right: 23px;
    width: 67px;
    height: 36px;
  }
  .stages-card:nth-child(odd) {
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .stages-card__number {
    position: relative;
    top: 0;
    left: 0;
  }
  .graph .block-header:after {
    display: block;
    top: -13px;
    right: 163px;
    width: 67px;
    height: 36px;
  }
  .graph__name {
    font-size: 42px;
  }
  .graph__truck {
    width: 308px;
    height: 95px;
  }
  /* График и сроки доставки */
  #comparisonchart {
    margin-top: 21px;
  }
  #comparisonchart table td {
    padding: 45px 186px 40px 20px;
  }
  /* Другие услуги компании */
  .services__name {
    margin-top: 63px;
    font-size: 54px;
  }
  .services .block-header > span::after {
    right: -192px;
    top: -7px;
  }
  /* Индивидуальная консультация */
  .consultation {
    background-color: #2B2B51;
    padding: 60px 0 10px;
  }
  .consultation__name {
    -webkit-text-stroke: 2px white;
    font-size: 43px;
  }
  .consultation-br {
    display: none;
  }
  .consultation .block-header > span:after {
    right: -43px;
    top: -13px;
  }
  .consultation-form {
    background-color: transparent;
    margin: 0;
    padding: 42px 4px 57px 4px;
    box-shadow: none;
  }
  .consultation-form:before {
    display: none;
  }
  .consultation-form__description {
    font-size: 19px;
  }
  .consultation-form__description span:after {
    display: none;
  }
  .consultation .form-tamojnya {
    flex-direction: column;
  }
  .consultation .form-tamojnya__whats {
    margin-left: 0px;
    margin-top: 36px;
  }
  .consultation .form__name,
  .consultation .form__phone,
  .consultation .form__email,
  .consultation .form__button,
  .consultation .form__whats {
    width: 307px;
  }
  .consultation .form__whats:after {
    display: none;
  }
  /* Подвал */
  .footer-logo__name {
    width: 217px;
    font-size: 15px;
  }
}
.price__name {
  line-height: 44px;
  font-size: 31px;
}
.price .block-header:after {
  display: block;
  top: -16px;
  right: 114px;
  width: 67px;
  height: 36px;
}
