@media screen and (max-width: 1024px) {
  .container {
    padding: 0 6%;
  }
  .grid {
    padding: 0px 6%;
  }
  .logo {
    width: 390px;
  }
  .logo-image {
    width: 155px;
  }
  .logo-name {
    font-size: 18px;
  }
  .header__number {
    font-size: 20px;
  }
  .header__menu {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  .main-screen {
    background-position: 39% 50%;
  }
  .advantage__name-size {
    width: 165px;
  }
  /* О компании */
  .block-header {
    font-size: 50px;
  }
  .block-header:after {
    width: 100px;
    height: 53px;
    top: -14px;
    right: -59px;
  }
  .about__purpose > p {
    font-size: 15px;
  }
  .sliders .slider-about {
    width: 400px;
    margin-right: 14px;
  }
  .sliders .slider-about:before {
    width: 400px;
    height: 347px;
    bottom: 15px;
    left: 12px;
  }
  .sliders .slider-about > img {
    width: 100%;
  }
  /* Плюсы перевозки в составе */
  .plus__name {
    font-size: 44px;
  }
  .plus .block-header:after {
    top: -22px;
    right: -43px;
  }
  .plus-body > img {
    width: 595px;
  }
  .plus-body__description {
    font-size: 14px;
  }
  .plus .organization__wrapper {
    right: -204px;
  }
  .plus .min_delivery__wrapper {
    right: -186px;
  }
  .stages .block-header {
    font-size: 38px;
  }
  .stages .block-header:after {
    top: -28px;
    right: 105px;
  }
  .stages-card__number {
    font-size: 41px;
    line-height: 81px;
  }
  .stages-card__description {
    font-size: 17px;
  }
  .stages-card:nth-child(odd) {
    padding-right: 16px;
  }
  /* График и сроки доставки */
  #comparisonchart table thead > tr th > h3 {
    font-size: 22px;
  }
  .graph__name {
    font-size: 46px;
  }
  .graph__name .block-header:after {
    top: -13px;
  }
  .graph__europe:after {
    width: 130px;
    height: 157px;
  }
  .graph__china:after {
    width: 130px;
    height: 157px;
  }
  .graph__usa:after {
    width: 130px;
    height: 157px;
  }
  .graph__truck {
    width: 436px;
    height: 139px;
  }
  /* Цена транспортировки */
  .price__name {
    line-height: 50px;
    font-size: 42px;
  }
  .price .block-header:after {
    top: -29px;
    right: 160px;
  }
  /* Индивидуальная консультация */
  .consultation {
    background-color: #2B2B51;
    padding: 60px 0 10px;
  }
  .consultation .grid {
    display: none;
  }
  .consultation__name {
    -webkit-text-stroke: 2px white;
  }
  .consultation .block-header:after {
    top: -10px;
  }
  .consultation-br {
    display: none;
  }
  .consultation .block-header {
    font-size: 38px;
  }
  .consultation .block-header > span:after {
    right: -132px;
  }
  .consultation-form {
    background-color: transparent;
    margin: 0;
    padding: 42px 4px 57px 4px;
    box-shadow: none;
  }
  .consultation-form:before {
    display: none;
  }
  .consultation-form__description {
    font-size: 19px;
  }
  .consultation-form__description span:after {
    display: none;
  }
  .consultation .form-tamojnya {
    flex-direction: column;
  }
  .consultation .form-tamojnya__whats {
    margin-left: 0px;
    margin-top: 36px;
  }
  .consultation .form__name,
  .consultation .form__phone,
  .consultation .form__email,
  .consultation .form__button,
  .consultation .form__whats {
    width: 307px;
  }
  .consultation .form__whats:after {
    display: none;
  }
  .footer-logo__name {
    font-size: 16px;
    width: 275px;
  }
}
