@media screen and (max-width: 1024px) {
  .container {
    padding: 0 6%;
  }
  .grid {
    padding: 0px 6%;
  }
  .logo {
    width: 390px;
  }
  .logo-image {
    width: 155px;
  }
  .logo-name {
    font-size: 18px;
  }
  .header__number {
    font-size: 20px;
  }
  .header__menu {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  .main-screen {
    background-position: 39% 50%;
  }
  .advantage__name-size {
    width: 165px;
  }
  /* О компании */
  .block-header {
    font-size: 50px;
  }
  .block-header:after {
    width: 100px;
    height: 53px;
    top: -16px;
  }
  .about__purpose > p {
    font-size: 15px;
  }
  .sliders .slider-about {
    width: 400px;
    margin-right: 14px;
  }
  .sliders .slider-about:before {
    width: 400px;
    height: 269px;
    bottom: 15px;
    left: 12px;
  }
  .sliders .slider-about > img {
    width: 100%;
  }
  .stages__name:after {
    content: '';
    position: absolute;
    background-image: url(../../img/about/crosses_for_header.png);
    background-size: cover;
    z-index: 2;
    width: 100px;
    height: 53px;
    top: -21px;
    right: 114px;
  }
  .stages__description-right:before,
  .stages__description-left:before {
    display: none;
  }
  .stages__description-right:after,
  .stages__description-left:after {
    display: none;
  }
  .stages-footer__description {
    font-size: 18px;
  }
  .consultation__name:after {
    content: '';
    position: absolute;
    background-image: url(../../img/about/crosses_for_header.png);
    background-size: cover;
    z-index: 2;
    width: 110px;
    height: 62px;
    top: -15px;
    right: 240px;
  }
  .consultation-form {
    padding: 57px 87px 57px 56px;
  }
  .consultation-form__description {
    font-size: 14px;
  }
  .consultation .form-tamojnya__whats {
    margin-left: 35px;
  }
  .consultation .form__name,
  .consultation .form__phone,
  .consultation .form__email,
  .consultation .form__button,
  .consultation .form__whats {
    width: 215px;
  }
  .footer-logo__name {
    font-size: 16px;
    width: 275px;
  }
}
